@model ClienteModel
@{
    ViewData["Title"] = "Criar Cliente";
}

<div class="text-center">
    <h1 class="display-4">Cadastrar Cliente</h1>
</div>


<form asp-controller="Cliente" asp-action="Criar" method="post">

    <div class="form-group">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o nome do cliente">
        @Html.ValidationMessageFor(x => x.Nome)
    </div>

    <div class="form-group">
        <label for="nome" class="form-label">Cidade</label>
        <input type="text" asp-for="Cidade" class="form-control" placeholder="Digite o e-mail do cliente">
        @Html.ValidationMessageFor(x => x.Cidade)
    </div>


    <button type="submit" class="btn btn-primary btn-block">Adicionar</button>
    <a class="btn btn-secondary btn-block" asp-action="Index" asp-controller="Cliente" role="button">Voltar</a>

</form>