@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo !</h1>
    <p>Teste de conhecimento da Campos Dealer</p>
    <h4>Candido Leonardo Lima - leonardosilvalima40@gmail.com</h4>
</div>
